.allContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 90vw;
}


.insertForm{
    display: flex;
    width: 21em;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    
}

.listLabel{
    display: flex;
    width: 22em;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: #9E9E9E; 
    margin-bottom: 0.1em;
    
}

.list{
    width: 24em;
    height: 2.2em;
    border-radius:0.2em;
    border-width: 0.1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 1em;
}


.input{
    width: 9.5em;
    height: 1.8em;
    border-radius:0.2em;
    border-width: 0.1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: #1A1A1A;
    border-color: #9E9E9E;
    
}

::placeholder {
    padding-left: 6.2em;
    color: #9E9E9E;
}

.Title{
    display:flex;
    width: 22.3em;
    height: 3em;
    justify-content:start;
    padding-bottom: 0;  
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    color: #616161;
}

.dataContainer{
    display: flex;
    width: 22em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:0;
    height:3.8em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: #9E9E9E;
}

.leftInput{
    margin-right: 1em;
    width: 9.5em;
    height: 1.8em;
    border-radius:0.2em;
    border-width: 0.1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    color: #1A1A1A;
    border-color: #9E9E9E;
}

.lastInputContainer {
    height:3.8em;
    display:flex;
    flex-direction: column;
    margin-right: 10em;
}	